.container
    .row
        h2 Auctioneer View

        .auctioneer(data-bind="visible: item.present()")
            h3
                span(data-bind="text: '#' + item.number()")
                span :&nbsp;&nbsp;
                span(data-bind="text: item.description")
            div
                strong(style="font-size: 140%", data-bind="visible: item.longDescription(), text: item.longDescription")

            br
            div
                strong(style="font-size: 130%")
                    span Donor:&nbsp;
                    span(data-bind="text: item.donor")

            br
            div
                strong(style="font-size: 125%")
                    span Minimum Bid:&nbsp;
                    span(data-bind="text: accounting.formatMoney(item.minBid() || 0)")
            div
                strong(style="font-size: 125%")
                    span Maximum Bid:&nbsp;
                    span(data-bind="text: accounting.formatMoney(item.maxBid() || 1000)")

            br
            div(data-bind="visible: guest.present()")
                strong.danger-text(style="font-size: 125%")
                    span Winner: &nbsp;(#
                    span(data-bind="text: guest.number")
                    span )&nbsp;
                    span(data-bind="text: guest.name")

        .waiting(data-bind="visible: !item.present()")
            strong Waiting for item...