.container(data-bind="style: { 'background-color': isAuctioneerAssistant() ? '#ffe' : '#fff'  }")
    .row
        .twelve.columns

            h1 Bidding
            h2 Enter Winning Bid
            span
                label
                    input(type="checkbox", data-bind="checked: isAuctioneerAssistant")
                    |  Enable Auction Assistant Mode
                    span.pull-right(data-bind="visible: isAuctioneerAssistant") Items and Guest will display to Auctioneer
            div.pending.danger-text(data-bind="visible: pendingSaves")
                |  (
                strong(data-bind="text: pendingSaves")
                strong  Pending
                | )

    form(data-bind="validationOptions: { insertMessages: false, decorateElementOnModified: false, submit: form().save }")
        .row
            .six.columns
                .selected-guest(data-bind="visible: form().itemName")
                    label Selected Item
                    .selected-item
                        button.round-icon.button-danger.pull-right(href="#", data-bind="click: form().clearItem")
                            i.fa.fa-times
                        span(data-bind="text: form().itemName")

                .form-group(data-bind="visible: !form().itemName(), css: { 'has-error': form().itemName.isModified() && !form().itemName.isValid() }")
                    label Item
                    input.u-full-width(type="text", autocomplete="off", autocorrect="off", placeholder="Find Item...", data-bind="value: form().itemLookup, valueUpdate: 'input'")
                    span.help-block(data-bind="validationMessage: form().itemName")

                    .row(data-bind="visible: form().itemLookup() && form().itemList().length")
                        ul.six.columns.a-autocomplete(data-bind="foreach: form().itemList")
                            li: a(href="#", data-bind="click: $parent.selectItem")
                                strong(data-bind="text: number")
                                |  -&nbsp;
                                span(data-bind="text: description")

            .six.columns
                .selected-guest(data-bind="visible: form().guestName")
                    label Selected Guest
                    .selected-item
                        button.round-icon.button-danger.pull-right(href="#", data-bind="click: form().clearGuest")
                            i.fa.fa-times
                        span(data-bind="text: form().guestName")

                .form-group(data-bind="visible: !form().guestName(), css: { 'has-error': form().guestName.isModified() && !form().guestName.isValid() }")
                    label Guest
                    input.u-full-width(type="text", autocomplete="off", autocorrect="off", placeholder="Find Guest...", data-bind="value: form().guestLookup, valueUpdate: 'input'")
                    span.help-block(data-bind="visible: form().guestLookup(), validationMessage: form().guestName")

                    .row(data-bind="visible: form().guestLookup() && form().guestList().length")
                        ul.six.columns.a-autocomplete(data-bind=" foreach: form().guestList")
                            li: a(href="#", data-bind="click: $parent.selectGuest")
                                strong(data-bind="text: number")
                                |  -&nbsp;
                                span(data-bind="text: name")


        .row
            .three.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().bid.isModified() && !form().bid.isValid() }")
                    label
                        span Bid
                        span.pull-right(data-bind="text: form().range")
                    input.u-full-width(type="text", style="text-align: right;", placeholder="$ bid", data-bind="value: form().bid")
                    span.help-block(data-bind="validationMessage: form().bid")

            .three.columns
                .form-group
                    label.hidden-phablet &nbsp;
                    button.button-primary.u-full-width(data-bind="click: form().save") Enter Bid

            .three.columns(data-bind="visible: form().show_override")
                .form-group
                    label.hidden-phablet &nbsp;
                    button.button-danger.u.full-width(data-bind="click: form().save_with_override") Override Bid

    .row
        .twelve.columns
            h2 Recent winning Bids

            .warning(data-bind="visible: bidItems().length == 0")
                p No winning bids have been entered

            table.u-full-width(data-bind="visible: bidItems().length > 0")
                thead
                    tr
                        th.hidden-phablet(colspan="2") Item
                        th.hidden-phablet(colspan="2") Guest
                        th.hidden-phablet.text-right $
                        th.hidden-phablet
                tbody(data-bind="foreach: bidItems")
                    tr
                        td.visible-phablet.one-cell
                            .line-one
                                .pull-right(data-bind="text: accounting.formatMoney(bid.amount)")
                                strong.highlight.id.hash(data-bind="text: number")
                                | &nbsp;
                                strong(data-bind="text: description")
                            .line-more
                                a.pull-right.action(href="#", data-bind="{ click: function() { $parent.deleteBid($data); } }") delete
                                span(data-bind="text: bid.guest.number")
                                |  -
                                span(data-bind="text: bid.guest.name")

                        td.hidden-phablet(data-bind="text: number")
                        td.hidden-phablet(data-bind="text: description")
                        td.hidden-phablet(data-bind="text: bid.guest.number")
                        td.hidden-phablet(data-bind="text: bid.guest.name")
                        td.hidden-phablet.text-right(data-bind="text: accounting.formatMoney(bid.amount)")
                        td.hidden-phablet
                            button.danger(type="button", data-bind="{ click: function() { $parent.deleteBid($data); } }"): i.fa.fa-trash-o
