.container
    .row
        .twelve.columns
            h1 8th Annual Blue Gives Back Masquerade
            h2 Check Report

            div.hidden-print
                label.checkbox
                    input(type="checkbox", data-bind="checked: showNames")
                    |  Show Names

            .warning(data-bind="visible: report().length == 0") No Data

            table.u-full-width(data-bind="visible: report().length")
                thead
                    tr
                        th(data-bind="visible: showNames") Name
                        th Check #
                        th.text-right Amount
                tbody(data-bind="foreach: report")
                    tr
                        td(data-bind="text: guest.name, visible: $parent.showNames()")
                        td(data-bind="text: checkNumber")
                        td.text-right(data-bind="text: accounting.formatMoney(amount)")

            div.text-center.hidden-print(data-bind="visible: report().length")
                button.btn.btn-default(data-bind="click: print") <i class="fa fa-print"></i> Print
