.container
    .row: .twelve.columns: h1 Checkout

    form(data-bind="validationOptions: { insertMessages: false, decorateElementOnModified: false, submit: form().save }")

        .row
            .six.columns.offset-by-three
                .selected-guest(data-bind="visible: form().guestName")
                    label Selected Guest
                    .selected-item
                        button.round-icon.button-danger.pull-right(href="#", data-bind="click: form().clearGuest")
                            i.fa.fa-times
                        span(data-bind="text: form().guestName")

                .form-group(data-bind="visible: !form().guestName(), css: { 'has-error': form().guestName.isModified() && !form().guestName.isValid() }")
                    label Guest
                    input.u-full-width(type="text", autocomplete="off", autocorrect="off", placeholder="Find Guest...", data-bind="value: form().guestLookup, valueUpdate: 'input'")
                    span.help-block(data-bind="validationMessage: form().guestName")

                    .row(data-bind="visible: form().guestLookup() && form().guestList().length")
                        ul.six.columns.a-autocomplete(data-bind="foreach: form().guestList")
                            li: a(href="#", data-bind="click: $parent.selectGuest")
                                strong(data-bind="text: number")
                                |  -&nbsp;
                                span(data-bind="text: name")


        .row(data-bind="visible: form().guestName() && !form().combinePaddle()")
            .six.columns.offset-by-three
                a.button.u-full-width(href="#", data-bind="click: form().startCombine")
                    i.fa.fa-plus
                    |  Combine Guests


        .row(data-bind="visible: form().combinePaddle()")
            .six.columns.offset-by-three
                .selected-guest(data-bind="visible: form().combineGuestName")
                    label
                        | Selected Guest to combine with&nbsp;
                        span.danger-text(data-bind="text: form().guestName")
                    .selected-item
                        button.round-icon.button-danger.pull-right(href="#", data-bind="click: form().clearCombineGuest")
                            i.fa.fa-times
                        span(data-bind="text: form().combineGuestName")

                .form-group(data-bind="visible: !form().combineGuestName(), css: { 'has-error': form().combineGuestName.isModified() && !form().combineGuestName.isValid() }")
                    label
                        | Guest to Combine with
                        span.danger-text(data-bind="text: form().guestName")
                    input.u-full-width(type="text", autocomplete="off", autocorrect="off", placeholder="Add Guest...", data-bind="value: form().combineGuestLookup, valueUpdate: 'input'")
                    span.help-block(data-bind="validationMessage: form().combineGuestName")

                    .row(data-bind="visible: form().combineGuestList() && form().combineGuestList().length")
                        ul.a-autocomplete(data-bind="foreach: form().combineGuestList")
                            li: a(href="#", data-bind="click: $parent.selectCombineGuest")
                                strong(data-bind="text: number")
                                |  -&nbsp;
                                span(data-bind="text: name")


        .row(data-bind="visible: form().combinePaddle()")
            .six.columns.offset-by-three
                .row
                    .six.columns
                        button.button-primary.u-full-width(data-bind="click: form().combineGuests, enable: form().combineGuestName") <i class="fa fa-link" /> Combine
                    .six.columns
                        button.u-full-width(data-bind="click: form().closeCombineGuest") Cancel

        div(data-bind="visible: form().guestName")
            .row(data-bind="visible: form().bidList().length > 0")
                .twelve.columns
                    table.u-full-width
                        thead
                            tr
                                th Items Won
                                th.text-right Amount
                        tbody(data-bind="foreach: form().bidList()")
                            tr
                                td
                                    span(data-bind="text: description")
                                    |  &nbsp;&nbsp;(#
                                    span(data-bind="text: number")
                                    | )
                                td.text-right(data-bind="text: accounting.formatMoney(bid.amount)")
                        tfoot
                            tr
                                th Total Winning Bids
                                th.text-right(data-bind="text: accounting.formatMoney(form().expectedPayment())")
                            tr
                                th Payment Amount
                                th.text-right(data-bind="text: accounting.formatMoney(form().paymentAmount())")
                            tr
                                th(data-bind="css: { 'payment-paid': form().outstandingAmount() == 0, 'payment-due': form().outstandingAmount() > 0 } ") Outstanding Amount
                                th(data-bind="css: { 'payment-paid': form().outstandingAmount() == 0, 'payment-due': form().outstandingAmount() > 0 }, text:  accounting.formatMoney(form().outstandingAmount())").bg-success.text-right

            .row(data-bind="visible: form().guestName() && form().bidList().length == 0")
                .six.columns.offset-by-three
                    .danger-text
                        i.fa.fa-exclamation
                        | &nbsp;
                        strong No winning bids for this guest (we will take a donation though!)

            .row(data-bind="visible: form().combinePaddle() == false")
                .three.columns.offset-by-three
                    .form-group(data-bind="css: { 'has-error': form().paymentMethod.isModified() && !form().paymentMethod.isValid() }")
                        label Payment Method
                        select.u-full-width(data-bind="value: form().paymentMethod")
                            option(value="") Select...
                            option(value="cash") Cash
                            option(value="check") Check
                            option(value="credit card") Credit Card

                        span.help-block(data-bind="validationMessage: form().paymentMethod")

                .three.columns(data-bind="visible: form().paymentMethod() == 'check'")
                    .form-group(data-bind="css: { 'has-error': form().checkNumber.isModified() && !form().checkNumber.isValid() }")
                        label Check #
                        input.u-full-width(type="text", placeholder="Check #", data-bind="value: form().checkNumber, disable: form().paymentMethod() != 'check'")
                        span.help-block(data-bind="validationMessage: form().checkNumber")


            .row(data-bind="visible: form().combinePaddle() == false")
                .six.columns.offset-by-three
                    textarea.u-full-width(data-bind="value: form().note", placeholder="Please enter a note if needed")
                    .clearfix

            .row(data-bind="visible: form().combinePaddle() == false")
                .six.columns.offset-by-three
                    .form-group(data-bind="css: { 'has-error': form().amount.isModified() && !form().amount.isValid() }")
                        label Payment $
                        input.u-full-width(type="text", style="text-align: right;", placeholder="$ Amount", data-bind="value: form().amount")
                        span.help-block(data-bind="validationMessage: form().amount")

            .row
                .six.columns.offset-by-three
                    .form-group
                        label
                        button.button-primary.u-full-width(data-bind="click: form().save") Enter Payment

        .row
            .twelve.columns
                h2 Recent Payments

                div(data-bind="visible: paymentList().length == 0")
                    .alert.alert-warning
                        p No payments have been entered

                table.u-full-width(data-bind="visible: paymentList().length > 0")
                    thead
                        tr
                            th Guest
                            th.text-right Payment
                            th Method
                            th
                    tbody(data-bind="foreach: paymentList")
                        tr
                            td
                                span(data-bind="text: guest.name")
                                |  (
                                span(data-bind="text: guest.number")
                                | )
                            td.text-right(data-bind="text: accounting.formatMoney(amount)")
                            td(data-bind="text: method")
                            td.text-right
                                a(href="#", data-bind="{ click: function() { $parent.deletePayment($data); } }")
                                    i.fa.fa-trash-o