.container
    .row
        .twelve.columns
            h1(data-bind="text: eventName")
            h2 Item Donation Report

            div.text-center.no-print(style="margin-bottom: 10px;")
                select(data-bind="value: sort")
                    option(value="description") Sort by Description
                    option(value="number") Sort by Item #
                select(data-bind="value: grouping")
                    option(value="nogroup") No Grouping
                    option(value="category") Group by Category
                Select(data-bind="value: showBidRange")
                    option(value="show") Show Bid Range
                    option(value="hide") Hide Bid Range
                Select(data-bind="value: showWinners")
                    option(value="show") Show Winners
                    option(value="hide") Hide Winners
                button.btn.btn-default(data-bind="click: print") <i class="fa fa-print"></i> Print

            table.u-full-width
                thead
                    tr
                        th
                        th Item
                        th Donor
                        th Category
                        th(data-bind="visible: showBidRange()=='show'") Bid Range
                        th(data-bind="visible: showWinners()=='show'").text-right Won?
                        th(data-bind="visible: showWinners()=='show'") Winner
                        th(data-bind="visible: showWinners()=='show'")

                tbody(data-bind="foreach: report")
                    tr
                        td.text-right(data-bind="text: number")
                        td(data-bind="text: description")
                        td(data-bind="text: donor")
                        td(data-bind="text: category")
                        td(data-bind="visible: $parent.showBidRange() == 'show', text: function() { return accounting.formatMoney($data.minimumBid || 0) + ' - ' + accounting.formatMoney($data.maximumBid || 1000) }()")
                        td.text-right(data-bind="visible: $parent.showWinners() == 'show', text: function() { return $data.bid ? accounting.formatMoney($data.bid.amount) : ''; }()")
                        td(data-bind="visible: $parent.showWinners() == 'show', text: function() { return $data.bid && $data.bid.guest ? $data.bid.guest.name : ''; }()")
                        td(data-bind="visible: $parent.showWinners() == 'show', text: function() { return $data.bid && $data.bid.guest ? $data.bid.guest.number : ''; }()")


