.container
    .row
        .col-md-8.col-md-offset-2
            h1 8th Annual Blue Gives Back Masquerade
            h2 Item Donation Report

            div.hidden-print
                label.checkbox
                    input(type="checkbox", data-bind="checked: outstandingPaymentsOnly")
                    |  Show Outstanding Payments Only

            div.text-center.hidden-print(style="margin-bottom: 10px;")
                button.btn.btn-default(data-bind="click: print") <i class="fa fa-print"></i> Print


            ul(data-bind="foreach: report")
                h4
                    span(data-bind="visible: (expectedPayment || totalPayments)")
                        span(data-bind="text: name")
                        |  (#
                        span(data-bind="text: number")
                        | )


                div(data-bind="visible: (expectedPayment || totalPayments)")
                    table.table.table-bordered.table-condensed
                        tbody(data-bind="foreach: bids")
                            tr
                                td(style="width: 65%", data-bind="text: description")
                                td(style="width: 10%")
                                    | #
                                    span(data-bind="text: number")
                                td.text-right(data-bind="text: accounting.formatMoney(bid.amount)")
                        tfoot
                            tr
                                td(colspan="2", style="border-top-width: 3px") Total value of bids won
                                td.text-right(style="border-top-width: 3px", data-bind="text: accounting.formatMoney(expectedPayment)")
                            tr
                                th.bg-success(colspan="2") Total amount paid
                                th.bg-success.text-right(data-bind="text: accounting.formatMoney(totalPayments)")
                            tr(data-bind="visible: expectedPayment > totalPayments")
                                td(colspan="2", data-bind="css: { 'bg-danger': expectedPayment - totalPayments > 0 }") Outstanding Amount
                                td.text-right(data-bind="css: { 'bg-danger': expectedPayment - totalPayments > 0 }, text: accounting.formatMoney(expectedPayment - totalPayments > 0 ? expectedPayment - totalPayments : 0)")




