.container
    .row
        .twelve.columns
            h2 Dashboard

    .row
        .six.columns
            .panel.panel-primary
                .panel-heading
                    .panel-title Quick Links
                .panel-body
                    .quicklink
                        a(href="#paddles") <i class="fa fa-users"></i> Manage Guests
                    .quicklink
                        a(href="#items") <i class="fa fa-list"></i> Manage Auction Items
                    .quicklink
                        a(href="#bidding") <i class="fa fa-gavel"></i> Enter Bids
                    .quicklink
                        a(href="#checkout") <i class="fa fa-dollar"></i> Checkout
                    .quicklink
                        a(href="#auctioneer") <i class="fa fa-user"></i> Auctioneer Mode
        .six.columns.divider
            .panel.panel-primary
                .panel-heading
                    .panel-title Cash Flow
                .panel-body
                    .datapoint
                        strong Expected Donations:&nbsp;
                        span.bg-warning.text-warning(data-bind="text: bidAmount")
                    .datapoint
                        strong Donations Received:&nbsp;
                        span.bg-success.text-success(data-bind="text: amountRaised")
                    .datapoint
                        strong Items for auction:&nbsp;
                        span.bg-success.text-success(data-bind="text: itemCount")
                    .datapoint
                        strong Items with bids:&nbsp;
                        span.bg-success.text-success(data-bind="text: bidCount")
                    .datapoint
                        strong Registered Guests:&nbsp;
                        span.bg-success.text-success(data-bind="text: guestCount")