.container
    .row
        .col-md-8.col-md-offset-2
            h1 8th Annual Blue Gives Back Masquerade
            h2 Income Report

            div.text-center.hidden-print(style="margin-bottom: 10px;")
                button.btn.btn-default(data-bind="click: print") <i class="fa fa-print"></i> Print

            table.table.table-bordered.table-condensed
                thead
                    tr
                        th Donor
                        th Notes
                        th Method
                        th.text-right Amount

                tbody(data-bind="foreach: report")
                    tr
                        td(data-bind="text: guest.name")
                        td(data-bind="text: function() { return $data.notes ? $data.notes : '' }()")
                        td
                            span(data-bind="text: method")
                            span(data-bind="visible: checkNumber")
                                |  (#
                                span(data-bind="text: checkNumber")
                                | )
                        td.text-right(data-bind="text: accounting.formatMoney(amount)")

                thead
                    tr
                        th(colspan="3") Total
                        th.text-right(data-bind="text: accounting.formatMoney(total())")


