.container
    .row(data-bind="visible: showingForm()")
        .twelve.columns
            h1(data-bind="visible: form().id()") Edit Auction Item
            h1(data-bind="visible: !form().id()") Add Auction Item

    .row(data-bind="visible: !showingForm()")
        .seven.columns
            h1
                | Auction Items
                a(href="#", data-bind="visible: !showingForm(), click: showForm")
                    small <i class="fa fa-plus"></i> Add
        .five.columns
            form.search.text-right(data-bind="visible: !showingForm()")
                input.u-full-width#itemSearch(type="text", placeholder="Search items...", autocomplete="off", autocorrect="off", data-bind="value: filter, valueUpdate: 'input'")
                button(type="button", data-bind="click: clearFilter(), valueUpdate:'afterkeydown', css: { 'active-search': filter() }").close-search
                    .fa.fa-times

    form(data-bind="visible: showingForm, validationOptions: { insertMessages: false, decorateElementOnModified: false, submit: form().save }")
        .row
            .three.columns
                .form-group(data-bind="css: { 'has-error': form().number.isModified() && !form().number.isValid() }")
                    label(for="itemNumber") Number
                    input.u-full-width#itemNumber.form-control(type="text", placeholder="e.g. 34", data-bind="{ value: form().number, valueUpdate:'afterkeydown' }")
                    span.help-block(data-bind="validationMessage: form().number")
            .nine.columns
                .form-group(data-bind="css: { 'has-error': form().description.isModified() && !form().description.isValid() }")
                    label(for="description") Short Description
                    input.u-full-width#description.form-control(type="text", placeholder="Short Description", data-bind="value: form().description, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().description")
        .row
            .nine.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().longDescription.isModified() && !form().longDescription.isValid() }")
                    label(for="longDescription") Long Description
                    textarea.u-full-width#longDescription.form-control(placeholder="Long Description", data-bind="value: form().longDescription, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().longDescription")
        .row
            .nine.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().donor.isModified() && !form().donor.isValid() }")
                    label(for="donor") Donor Name
                    input.u-full-width#donor.form-control(type="text", placeholder="Donor", data-bind="value: form().donor, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().donor")

        .row
            .nine.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().category.isModified() && !form().category.isValid() }")
                    label(for="category") Auction Category
                    select.u-full-width.form-control(data-bind="value: form().category, options: categories, optionsCaption: 'Select...'")
                    span.help-block(data-bind="validationMessage: form().category")

        .row
            .three.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().minimumBid.isModified() && !form().minimumBid.isValid() }")
                    label(for="minimumBid") Min. Bid $
                    input.u-full-width#donor.form-control(style="text-align: right", type="text", placeholder="Min. Bid", data-bind="value: form().minimumBid, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().minimumBid")

            .three.columns
                .form-group(data-bind="css: { 'has-error': form().maximumBid.isModified() && !form().maximumBid.isValid() }")
                    label(for="maximumBid") Max. Bid $
                    input.u-full-width#donor.form-control(style="text-align: right", type="text", placeholder="Max. Bid", data-bind="value: form().maximumBid, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().maximumBid")

        .row
            .three.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().itemValue.isModified() && !form().itemValue.isValid() }")
                    label(for="itemValue") Item Value $
                    input.u-full-width#donor.form-control(style="text-align: right", type="text", placeholder="Item Value", data-bind="value: form().itemValue, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().itemValue")

            .three.columns
                .form-group(data-bind="css: { 'has-error': form().bidIncrement.isModified() && !form().bidIncrement.isValid() }")
                    label(for="itemValue") Bid Increment $
                    input.u-full-width#donor.form-control(style="text-align: right", type="text", placeholder="Bid Increment", data-bind="value: form().bidIncrement, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().bidIncrement")

        .row.visible-phablet
            .three.columns.offset-by-three
                button.u-full-width.button-primary(type='button', data-bind="click: form().save") <i class="fa fa-check"></i> Save
            .three.columns
                button.u-full-width.button-danger(type='button', data-bind="click: cancelForm") <i class="fa fa-times"></i> Cancel

        .row.hidden-phablet
            .three.columns.offset-by-three
                button.u-full-width.button-danger(type='button', data-bind="click: cancelForm") <i class="fa fa-times"></i> Cancel
            .three.columns &nbsp;
            .columns.three.columns
                button.u-full-width.button-primary(type='button', data-bind="click: form().save") <i class="fa fa-check"></i> Save

        .row
            .nine.columns.offset-by-three
                div(data-bind="visible: form().id()")
                    .more-switch
                        hr
                        button(type="button")
                            i.fa.fa-chevron-down
                    .more-content(style="display: none")
                        button.u-full-width(type='button', data-bind="click: removeItem") <i class="fa fa-trash-o"></i> Delete this item

    div(data-bind="visible: !showingForm()")
        //pagination
        .hidden-phablet
            .row(data-bind="visible: list().length > 0")
                .three.columns.text-right
                    select.u-full-width(data-bind="value: filterCategory, options: categories, optionsCaption: 'All' ")
                .three.columns
                    button.previous(href="#", data-bind="css: { disabled: resultPage() == 1 }, click: prevPage") <i class="fa fa-arrow-circle-left"></i> Prev
                .three.columns
                    .text-center.search-stats
                        span(data-bind="text: pageMin()")
                        |  -&nbsp;
                        span(data-bind="text: pageMax()")
                        |  of&nbsp;
                        span(data-bind="text: listSize()")
                .three.columns.text-right
                    button.next(href="#", data-bind="css: { disabled: listSize() <= ((resultPage() ) * pageSize()) }, click: nextPage") Next <i class="fa fa-arrow-circle-right"></i>

        .visible-phablet.mobile-search-navigation
            span.pull-right.search-stats
                span(data-bind="text: pageMin()")
                |  -&nbsp;
                span(data-bind="text: pageMax()")
                |  of&nbsp;
                span(data-bind="text: listSize()")
            button.previous(href="#", data-bind="css: { disabled: resultPage() == 1 }, click: prevPage") <i class="fa fa-chevron-left"></i>
            button.next(href="#", data-bind="css: { disabled: listSize() < ((resultPage() ) * pageSize()) }, click: nextPage") <i class="fa fa-chevron-right"></i>
            select.u-full-width(data-bind="value: filterCategory, options: categories, optionsCaption: 'All' ")
        //data
        .row(data-bind="visible: list().length > 0")
            .twelve.columns
                div.danger-text(data-bind="visible: filter() || filterCategory()") <i class="fa fa-filter"></i> showing filtered results

                table.u-full-width
                    thead
                        tr
                            th.visible-phablet Details
                            th.hidden-phablet #
                            th.hidden-phablet(style="width: 40%") Description
                            th.hidden-phablet(style="width: 20%") Donor
                            th.hidden-phablet.text-right(style="width: 7%") Category
                            th.hidden-phablet.text-right(style="width: 8%") Won
                            th.hidden-phablet.text-right(style="width: 60px; min-width: 60px;")

                    tbody(data-bind="foreach: filteredList")
                        tr
                            td.visible-phablet.one-cell
                                .line-one
                                    span.pull-right.id.hash(data-bind="text: number")
                                    strong.title
                                        a(href="#", data-bind="text: description, click: function() { $parent.editItem($data.id); }")

                                .line-more
                                    span.data-point
                                        strong Donor
                                        span(data-bind="text: donor")
                                .line-more
                                    span.data-point
                                        strong Won
                                        span(data-bind="html: function() { return ($data.bid) ? accounting.formatMoney($data.bid.amount) : '<span class=\"quiet\">pending</span>'; }()")


                            td.hidden-phablet(data-bind="text: number")
                            td.hidden-phablet: a(href="#", data-bind="text: description, click: function() { $parent.editItem($data.id); }")
                            td.hidden-phablet(data-bind="text: donor")
                            td.hidden-phablet(data-bind="{ html: function() { return $data.category || '<small class=\"quiet\">N/A</small>'; }()}")
                            td.hidden-phablet.text-right(data-bind="html: function() { return ($data.bid) ? accounting.formatMoney($data.bid.amount) : '<small class=\"quiet\">pending</small>'; }()")
                            td.hidden-phablet.round-icon-holder
                                form(action="https://gtt-auction.azurewebsites.net/CbCertificates/Display", method="POST", target="_blank", style="display: inline")
                                    input(type="hidden", name="printModel[0].auctionName", data-bind="value: $parent.eventName")
                                    input(type="hidden", name="printModel[0].description", data-bind="value: description")
                                    input(type="hidden", name="printModel[0].longDescription", data-bind="value: longDescription")
                                    input(type="hidden", name="printModel[0].donor", data-bind="value: donor")
                                    input(type="hidden", name="printModel[0].number", data-bind="value: number")
                                    input(type="hidden", name="printModel[0].eventDate", data-bind="value: $parent.eventDate")
                                    input(type="hidden", name="printModel[0].itemValue", data-bind="value: itemValue")
                                    button.round-icon(type="submit"): i.fa.fa-print
                                //- form(action="https://gtt-auction.azurewebsites.net/CbCertificates/bidsheet", method="POST", target="_blank", style="display: inline")
                                //-     input(type="hidden", name="printModel[0].auctionName", data-bind="value: $parent.eventName")
                                //-     input(type="hidden", name="printModel[0].description", data-bind="value: description")
                                //-     input(type="hidden", name="printModel[0].longDescription", data-bind="value: longDescription")
                                //-     input(type="hidden", name="printModel[0].donor", data-bind="value: donor")
                                //-     input(type="hidden", name="printModel[0].eventDate", data-bind="value: $parent.eventDate")
                                //-     input(type="hidden", name="printModel[0].number", data-bind="value: number")
                                //-     input(type="hidden", name="printModel[0].minimumBid", data-bind="value: minimumBid")
                                //-     input(type="hidden", name="printModel[0].itemValue", data-bind="value: itemValue")
                                //-     input(type="hidden", name="printModel[0].bidIncrement", data-bind="value: bidIncrement")
                                //-     button.round-icon(type="submit"): i.fa.fa-file-text-o

                    tbody(data-bind="visible: filteredList().length == 0")
                        tr
                            td.empty-search(colspan="7")
                                | No Search Results <strong data-bind="visible: filter, text: ' for ' + filter()"></strong>
                                span(data-bind="visible: filterCategory, text: ' in ' + filterCategory()")

    .row.hidden-phablet(data-bind="visible: !showingForm()")
        .six.columns
            form#printButton(action="https://gtt-auction.azurewebsites.net/CbCertificates/display", method="post", target="_blank")
                span(data-bind="foreach: printList")
                    input(type="hidden", name="printModel[0].auctionName", data-bind="attr: { name: 'printModel[' + $index() + '].auctionName' }", value="EASTGATE AUCTION")
                    input(type="hidden", name="printModel[0].description", data-bind="attr: { name: 'printModel[' + $index() + '].description' }, value: description")
                    input(type="hidden", name="printModel[0].longDescription", data-bind="attr: { name: 'printModel[' + $index() + '].longDescription'  }, value: longDescription")
                    input(type="hidden", name="printModel[0].donor", data-bind="attr: { name: 'printModel[' + $index() + '].donor'  }, value: donor")
                    input(type="hidden", name="printModel[0].number", data-bind="attr: { name: 'printModel[' + $index() + '].number' }, value: number")
                    input(type="hidden", name="printModel[0].itemValue", data-bind="attr: { name: 'printModel[' + $index() + '].itemValue' }, value: itemValue")
                    input(type="hidden", name="printModel[0].eventDate", data-bind="attr: { name: 'printModel[' + $index() + '].eventDate' }", value="4/21/2018")
                button.u-full-width(type="button", data-bind="click: print")
                    i.fa.fa-print
                    |  All Certificates

        .six.columns
            form#printSheetButton(action="https://gtt-auction.azurewebsites.net/CbCertificates/export", method="post", target="_blank")
                span(data-bind="foreach: printList")
                    input(type="hidden", name="printModel[0].auctionName", data-bind="attr: { name: 'printModel[' + $index() + '].auctionName' }", value="EASTGATE AUCTION")
                    input(type="hidden", name="printModel[0].description", data-bind="attr: { name: 'printModel[' + $index() + '].description' }, value: description")
                    input(type="hidden", name="printModel[0].longDescription", data-bind="attr: { name: 'printModel[' + $index() + '].longDescription'  }, value: longDescription")
                    input(type="hidden", name="printModel[0].donor", data-bind="attr: { name: 'printModel[' + $index() + '].donor'  }, value: donor")
                    input(type="hidden", name="printModel[0].eventDate", data-bind="attr: { name: 'printModel[' + $index() + '].eventDate' }", value="4/21/2018")
                    input(type="hidden", name="printModel[0].minimumBid", data-bind="attr: { name: 'printModel[' + $index() + '].minimumBid' }, value: minimumBid")
                    input(type="hidden", name="printModel[0].number", data-bind="attr: { name: 'printModel[' + $index() + '].number' }, value: number")
                    input(type="hidden", name="printModel[0].itemValue", data-bind="attr: { name: 'printModel[' + $index() + '].itemValue' }, value: itemValue")
                    input(type="hidden", name="printModel[0].bidIncrement", data-bind="attr: { name: 'printModel[' + $index() + '].bidIncrement' }, value: bidIncrement")
                button.u-full-width(type="button", data-bind="click: print")
                    i.fa.fa-list-ol
                    |  Export Data
