.container
    .row
        .six.columns.offset-by-three
            h1 Auction Login
            form.connected-view(data-bind="validationOptions: { insertMessages: false, decorateElementOnModified: false }, submit: form().auth")
                .form-group(data-bind="css: { 'has-error': form().passcode.isModified() && !form().passcode.isValid() }")
                    label(for="passocde") Passcode
                    input#passcode.u-full-width(type="text", placeholder="Passcode", data-bind="value: form().passcode, valueUpdate:'afterkeydown'", autocomplete="off", autocorrect="off", autocapitalize="off")

                    span.help-block(data-bind="validationMessage: form().passcode")

                button.button-primary.u-full-width(type='button', data-bind="click: form().auth") Login