div
    h2 Resource Not Found
    .alert.alert-danger
        h4 <i class="fa fa-warning"></i> No content found. <span class="pull-right"><a class="btn btn-danger" href="/">Click here to restart</a></span>
        .clearfix