.container
    .row(data-bind="visible: showingForm()")
        .twelve.columns
            h1(data-bind="visible: form().id()") Edit Guest
            h1(data-bind="visible: !form().id()") Add Guest

    .row(data-bind="visible: !showingForm()")
        .seven.columns
            h1
                | Guests
                a(href="#", data-bind="visible: !showingForm(), click: showForm")
                  small <i class="fa fa-user-plus"></i> Add

        .five.columns
            form.search.text-right(data-bind="visible: !showingForm()")
                input.u-full-width#paddleSearch(type="text", placeholder="Search guests...", autocomplete="off", autocorrect="off", data-bind="value: filter, valueUpdate: 'input'")
                button(type="button", data-bind="click: clearFilter(), valueUpdate:'afterkeydown', css: { 'active-search': filter() }").close-search
                    .fa.fa-times

    form(data-bind="visible: showingForm, validationOptions: { insertMessages: false, decorateElementOnModified: false }, submit: form().save")
        .row
            .six.columns.offset-by-three
                .form-group(data-bind="css: { 'has-error': form().name.isModified() && !form().name.isValid() }")
                    label(for="paddleName") Guest Name
                    input.u-full-width#paddleName.form-control(type="text", placeholder="Guest Name", data-bind="value: form().name, valueUpdate:'afterkeydown'")
                    span.help-block(data-bind="validationMessage: form().name")

                .form-group(data-bind="css: { 'has-error': form().number.isModified() && !form().number.isValid() }")
                    label(for="paddleNumber") Paddle Number
                    input.u-full-width#paddleNumber.form-control(type="text", placeholder="Paddle Number", data-bind="{ value: form().number, valueUpdate:'afterkeydown' }")
                    span.help-block(data-bind="validationMessage: form().number")

                button.u-full-width.button-primary(type='button', data-bind="click: form().save") <i class="fa fa-check"></i> Save

                button.u-full-width.button-danger(type='button', data-bind="click: cancelForm") <i class="fa fa-times"></i> Cancel

                div(data-bind="visible: form().id()")
                    .more-switch
                        hr
                        button(type="button")
                            i.fa.fa-chevron-down

                    .more-content(style="display: none")
                        button.u-full-width(type='button', data-bind="click: removeGuest") <i class="fa fa-trash-o"></i> Delete this guest

    div(data-bind="visible: !showingForm()")
        .hidden-phablet
            .row(data-bind="visible: list().length > 0")
                .four.columns
                    button.previous(href="#", data-bind="css: { disabled: resultPage() == 1 }, click: prevPage") <i class="fa fa-arrow-circle-left"></i> Prev
                .four.columns
                    .text-center.search-stats
                        span(data-bind="text: pageMin()")
                        |  -&nbsp;
                        span(data-bind="text: pageMax()")
                        |  of&nbsp;
                        span(data-bind="text: listSize()")

                .four.columns.text-right
                    button.next(href="#", data-bind="css: { disabled: listSize() <= ((resultPage() ) * pageSize()) }, click: nextPage") Next <i class="fa fa-arrow-circle-right"></i>

        .visible-phablet.mobile-search-navigation
            span.pull-right.search-stats
                span(data-bind="text: pageMin()")
                |  -&nbsp;
                span(data-bind="text: pageMax()")
                |  of&nbsp;
                span(data-bind="text: listSize()")
            button.previous(href="#", data-bind="css: { disabled: resultPage() == 1 }, click: prevPage") <i class="fa fa-chevron-left"></i>
            button.next(href="#", data-bind="css: { disabled: listSize() < ((resultPage() ) * pageSize()) }, click: nextPage") <i class="fa fa-chevron-right"></i>


        .row(data-bind="visible: list().length > 0")
            .twelve.columns
                table.u-full-width
                    thead
                        tr
                            th.visible-phablet
                            th(style="width: 10%").hidden-phablet
                            th(style="width: 40%").hidden-phablet Name
                            th(style="width: 10%").hidden-phablet Number
                            th.text-right(style="width: 20%").hidden-phablet # Won
                            th.text-right(style="width: 20%").hidden-phablet $ Paid
                    tbody(data-bind="foreach: filteredList")
                        tr
                            td.visible-phablet.one-cell
                                .line-one
                                    span.pull-right.id(data-bind="text: number")
                                    strong.title
                                        a(href="#", data-bind="text: name, click: function() { $parent.editGuest($data.id); }")


                                .line-more
                                    span.data-point
                                        strong Items Won
                                        span(data-bind="text: function() { return $data.bids != null  ? $data.bids.length : 0; }() ")

                                    span.data-point
                                        strong $ Paid
                                        span(data-bind="text: accounting.formatMoney(totalPayments) ")

                            td.hidden-phablet(data-bind="{ text: $parent.pageMin() + $index() }")
                            td.hidden-phablet
                                a.action(href="#", data-bind="{text: name, click: function() { $parent.editGuest($data.id); } }")
                            td.hidden-phablet(data-bind="text: number")
                            td.hidden-phablet.text-right(data-bind="text: function() { return $data.bids != null  ? $data.bids.length : 0; }() ")
                            td.hidden-phablet.text-right(data-bind="text: accounting.formatMoney(totalPayments) ")
                    tbody(data-bind="visible: filteredList().length == 0")
                        tr
                            td.visible-phablet.one-cell
                                .no-results No Results
                            td.hidden-phablet.empty-search(colspan="6") No Search Results for <strong data-bind="text: filter"></strong>