doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Auction #{ title }
        meta(name='description', content='')
        meta(name='author', content='')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="apple-mobile-web-app-capable", content="yes")
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/libs/Skeleton-2.0.4/css/normalize.css')
        link(rel='stylesheet', href='/libs/Skeleton-2.0.4/css/skeleton.css')
        link(rel='icon', type='image/png', href='/libs/Skeleton-2.0.4/images/favicon.png')
        link(rel='stylesheet', href='/stylesheets/style-v2.css')
        script(src='/libs/modernizr/modernizr.custom.64112.js')
    body
        #disconnected(style="display: none")
            .container
                .row
                    .eight.columns
                        h4
                            i.fa.fa-warning
                            |  Disconnected from Server
                    .four.columns
                        a.button.button-danger.u-full-width(href="/") <i class="fa fa-refresh"></i> Reload

        nav.no-print
            span.pull-right
                a(href="#signout"): i.fa.fa-sign-out
            a#menu_home(href='#home'): i.fa.fa-dashboard
            a#menu_paddles(href='#paddles'): i.fa.fa-users
            a#menu_items(href='#items'): i.fa.fa-list
            a#menu_bidding(href='#bidding'): i.fa.fa-gavel
            a#menu_checkout(href='#checkout'): i.fa.fa-dollar
            a#menu_reports(href='#reports'): i.fa.fa-file-text-o


        #preConnectedContent
            .loader-holder
                img(src="/images/728.GIF")
                .loading-text
                    div Loading...

        #connectedContent(style="display: none;")
            #progressbarHolder

            block content

        script(src="/libs/jquery/jquery-1.11.0.min.js")
        script(src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js")
        script(src="/javascripts/logger.js")
        script(src="/libs/underscore-1.6.0/underscore.min.js")
        script(src="/libs/knockout-3.2.0/knockout-3.2.0.js")
        script(src="/libs/knockout-3.2.0/knockout.validation.min.js")
        script(src="/libs/momentjs-2.9.0/momentjs-2.9.0.js")
        script(src="/libs/store.js")
        script(src="/libs/keymaster.js")
        script(src="/socket.io/socket.io.js")
        script(src="/libs/MinPubSub/MinPubSubGtt.js")
        script(src="/libs/accounting.min.js")

        script(src="/javascripts/base.js")
        script(src="/javascripts/model_base.js")
        script(src="/javascripts/model_auth.js")
        script(src="/javascripts/model_auctioneer.js")
        script(src="/javascripts/model_paddle.js")
        script(src="/javascripts/model_items.js")
        script(src="/javascripts/model_home.js")
        script(src="/javascripts/model_bidding.js")
        script(src="/javascripts/model_checkout.js")
        script(src="/javascripts/model_check_report.js")
        script(src="/javascripts/model_donation_report.js")
        script(src="/javascripts/model_income_report.js")
        script(src="/javascripts/model_guest_report.js")

        script(src="/javascripts/store_events.js")
        //script(src="/javascripts/bootstrap_events.js")
        script(src="/javascripts/key_events.js")
        //script(src="/javascripts/nanobar_events.js")
        script(src="/javascripts/socket_events.js")

        block scripts