@red: #FF5335;
@light: #B39C85;
@blue: #306E73;
@altBlue: #3B424D;
@dark: #1D181F;

@import 'elements';

body.has-placeholder {
  label:not(.checkbox) {
    display: none;
  }
}

h1 {
  font-family: josefin-sans, sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-family: josefin-sans, sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
  a {
    font-size: 32px;
    font-family: arial, sans-serif;
    color: @blue;
  }
}

h3 {
  font-weight: 300;
  font-size: 22px;
  color: @altBlue;
  font-family: josefin-sans, sans-serif;
}

nav {
  background: #eee;
  border-bottom: 1px solid @dark;
  padding: 2px;
  a {
    background-color: #eee;
    font-size: 28px;
    display: inline-block;
    padding: 0px 7px;
    color: @dark + 60;
    &:hover {
      background-color: #ddd;
      color: @altBlue;
    }
    &.active {
      background-color: @altBlue;
      color: #eee;
      .rounded(3px);
    }
  }
}

.loader-holder {
  text-align: center;
  margin-top: 100px;
  div {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #888;
  }
}

#disconnected {
  background-color: #d9534f + 60;
  .gradient(#d9534f + 60, #d9534f + 30, #d9534f + 60);
  .container {
    min-height: 80px;
  }
  padding: 5px 0;
  h4 {
    margin: 0;
    padding: 6px;
    color: #d9534f - 90;
    font-size: 14px;
  }
}

.selected-guest {
  background-color: @altBlue + 150;
  padding: 7px;
  margin-bottom: 7px;
  .rounded(3px);
  i {
    font-size: 18px;
  }
}

ul.a-autocomplete {
  padding: 0;
  margin: 0;
  li {
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 14px;
    margin:3px 0;

    a {
      background-color: #efefef;
      .rounded(3px);
      padding: 6px 4px;
      display: block;
      text-decoration: none;
      &:hover {
        background-color: @altBlue;
        color: #fff;
      }
    }
  }
}

form {
  .input-group {
    width: 100%;
  }
  .input-group-addon {
    width: 50%;
    text-align: right;
  }
}

div.modal-footer{
  .danger-actions { text-align: left;}
}

.pager {
  margin: 3px 0;
}

.page-stats {
  padding-top: 12px;
  span {
    font-weight: 700;
  }
}

table tbody td.empty-search {
  background-color: #d9534f !important;
  .gradient(#d9534f, #d9534f + 30, #d9534f);
  color: #fff;
}

#gtt-console {
  .console {
    &.console-debug {
      .console-category { color: greenyellow; }
    }
    &.console-info {
      .console-category { color: yellow; }
    }
    &.console-warn {
      .console-category { color: orange; }
    }
    &.console-error {
      background-color: orange;
      color: white;
      .console-category { color: white; }
    }
    &.console-fatal {
      background-color: red;
      color: white;
      .console-category { color: white; }
    }
  }
}

#flash {
  position: fixed;
  bottom: 5px;
  z-index: 1000;
  background-color: #FFF;
  right:5px;
  .success {
    padding: 10px;
    background-color: #3e8f3e + 120;
  }
  .error {
    padding: 10px;
    background-color: red;
  }
}