@import 'elements';

@errorRed: #dd2e2f;
@blue: #33C3F0;
@warningYellow: spin(@errorRed,45);
@green: spin(@blue, -60) - 30;

///* overrides */
//.button,
//button,
//input[type="submit"],
//input[type="reset"],
//input[type="button"] {
//  padding: 0;
//}
//
//th,td {
//  //padding: 0;
//}

/* Larger than mobile */
@media (min-width: 400px) {
  .container {
    padding-bottom: 20px;
  }

  .divider {
    border-top: 2px dashed #ccc;
    margin-top: 10px;
    padding-top: 10px;
  }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .container {
    min-height: 400px;
  }
  .divider {
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.button.button-danger, button.button-danger, input[type="submit"].button-danger, input[type="reset"].button-danger, input[type="button"].button-danger {
  color: #FFF;
  background-color: @errorRed;
  border-color: @errorRed;
  &:hover, &:focus {
    background-color: @errorRed - 20;
    border-color: @errorRed - 20;
  }
}

.hidden-phablet {
  display: none;
  @media (min-width: 550px) {
    display: block;
  }
  td&, th& {
    display: none;
    @media (min-width: 550px) {
      display: table-cell;
    }
  }
}

.visible-phablet {
  display: block;
  @media (min-width: 550px) {
    display: none;
  }
  td&, th& {
    display: table-cell;
    @media (min-width: 550px) {
      display: none;
    }
  }
}

#gtt-console {
  .console {
    &.console-debug {
      .console-category { color: greenyellow; }
    }
    &.console-info {
      .console-category { color: yellow; }
    }
    &.console-warn {
      .console-category { color: orange; }
    }
    &.console-error {
      background-color: orange;
      color: white;
      .console-category { color: white; }
    }
    &.console-fatal {
      background-color: red;
      color: white;
      .console-category { color: white; }
    }
  }
}

body {
  background-color: #333;
}

h1 {
  font-size: 2em;
  margin: 5px 0;
  button.button {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2em;
    padding: 0;
  }
  a {
    text-decoration: none;
    margin-left: 20px;
    border-bottom: none;
    small {
      font-size: 75%;
    }
    &:hover {
      border-bottom: 2px solid @blue - 10;
    }
  }
}

h2 {
  font-size: 1.3em;
  margin: 5px 0;
  background-color: spin(@blue, 10) - 120;
  color: #fafafa;
  padding: 5px;
}

#connectedContent {
  background-color: #fefefe;
}

nav {
  background-color: #666;
  width: 100%;
  margin: 2px;
  a {
    font-size: 1.3em;
    width: 30px;
    margin: 2px;
    padding: 0 4px;
    /* Larger than phablet (also point when grid becomes active) */
    @media (min-width: 550px) {
      width: 40px;
      margin-right: 5px;
      padding: 0 5px;
      font-size: 2.3em;
    }
    color: #fff;
    .rounded(3px);
    background-color: #999;
    &:hover {
      color: #ddd;
     background-color: #888;
    }
    display: inline-block;
    text-align: center;
  }
  span.pull-right {
    padding-right: 4px;
  }
}

.loader-holder {
  text-align: center;
  margin-top: 100px;
  div {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #888;
  }
}

table {
  td {
    button {
      margin: 3px 0;
      height: 32px;
    }
  }
  tbody tr {
    &:hover {
      background-color: #fafafa;
    }
  }
  a.action {
    text-decoration: none;
    &:hover {

    }
  }
}

button {
  &.disabled {
    color: #aaa;
    background-color: #eee;
    border-color: #aaa;
  }
}

form {
  .label-offset {
    /* Larger than phablet (also point when grid becomes active) */
    @media (min-width: 550px) {margin-top: 2.8rem;}
  }
  .has-error {
    label {
      background-color: @errorRed + 200;
      .rounded(3px);
    }

    color: @errorRed;
    input {
      border-color: @errorRed;
      background-color: @errorRed + 180;
    }
    .help-block {
      padding: 0;
      margin: 0;
      font-size: .9em;
      top: -15px;
      position: relative;
    }
  }
  &.search {
    position: relative;
    margin: 5px 0 0 0;
    input[type="text"] {
      .rounded(19px);
    }
    button.close-search {
      width: 38px;
      padding: 0;
      border: none;
      background-color: transparent;
      position: absolute;
      top: 0px;
      right: 4px;
      .rounded(19px);
      font-size: 75%;
      padding: 0;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 1em;
      margin-top: 4px;
      background-color: #ddd;
      color: #999;
      .opacity(.2);
      -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
      transition: opacity 1s;
      &.active-search {
        .opacity(1);
        -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
        transition: opacity 1s;
      }
    }
  }
}

.one-cell {

  .data-point {
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    strong {
      &:after {
        content: ": ";
      }
    }
  }

  .line-one {
    .edit {
      float: right;
    }
    .title {
      font-size: 1.1em;
      margin-right: 10px;
    }
    .id {
      &:before {
        content: "(";
      }
      &:after {
        content: ")"
      }
      &.hash {
        &:before { content: "#" };
        &:after { content: ""  };
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .line-more {
    color: #999;
  }
  .no-results {
    font-style: italic;
    color: #999;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mobile-search-navigation {
  button {
    font-size: 1.5em;
    .rounded(22px);
    padding: 0;
    width: 44px;
    height: 44px;
    display: inline-block;
    &:active {
      background-color: #ccc;
    }
  }
  .search-stats {
    font-size: 1.4em;
    display: inline-block;
    margin-top: 10px;
  }
}

.move-down {
  margin-top: 5px;
}

.more-switch {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  button {
    .rounded(19px);
    padding: 0;
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    margin: auto;
    background-color: #fff;
    left: 40%;
    top: -19px;
    height: 38px;
    width: 20%;
    i {
      .transition(.5s);
      color: #999;
      &.chevron-rotated {
        .rotation(180deg);
        .transition(.5s, 'ease out');
      }
    }
  }
}

.quiet {
  color: #ddd;
}

.round-icon-holder {
  padding: 0;
  text-align: center;
}

button.round-icon {
  height: 26px;
  width: 26px;
  padding: 0;
  .rounded(13px);
  i {
    position: relative;
    top: -5px;
    left: 1px;
  }
}

.danger-text {
  color: @errorRed;
  background-color: @errorRed + 200;
  padding: 0 12px;
  .rounded(12px);
}

.payment-due {
  color: @errorRed;
  background-color: @errorRed + 200;
}

.payment-paid {
  color: @green;
  background-color: @green + 200;
}

.warning {
  color: @warningYellow;
  background-color: @warningYellow + 200;
  padding: 3px 16px;
  .rounded(4px);
  border: 1px solid @warningYellow;
  margin-bottom: 10px;
}

.selected-guest {

  .selected-item {
    border: 1px solid #9a9a9a;
    padding: 6px 7px;
    .rounded(3px);
    margin-bottom: 1.5rem;
    button.round-icon i {
      padding: 0;
      margin: 0;
      line-height: 1;
      font-size: 130%;
      top: -5px;
      left: 1px;
    }
  }
}

.a-autocomplete {
  border: 1px solid #cacaca;
  list-style: none;
  position:absolute;
  z-index: 100;
  width: 100%;
  margin-top: -14px;
  .drop-shadow(2px, 2px, 3px, .2);
  .rounded(3px);
  li {
    margin: 0;
  }
  a {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    color: #666;
    padding: 5px 0;
    strong {
      padding: 5px;
    }
    span {
      padding: 5px;
    }
    &:hover {
      background-color: #efefef;
    }
  }
}

.waiting-cover {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  position: fixed;
  z-index: 1000;
  .opacity(.9);
}

.waiting {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 100px;
  padding: 20px;
  z-index: 2000;
  text-align: center;
  font-size: 120%;
}

.pending {
  display: block;
  margin-bottom: 5px;
}

button:disabled {
  background-color: #ddd;
  color: #999;
  border-color: #999;
  &:hover {
    background-color: #ddd;
    color: #999;
    border-color: #999;
  }
}

#disconnected {
  .container {
    min-height: 40px;
  }
  h4 {
    margin:0;
    color: #fff;
    font-size: 1.4em;
    padding: 10px 0;
  }
  .four {
    padding: 10px;
  }
  background-color: @errorRed + 50;
  border-bottom: 3px solid @errorRed;
}

@media print {
  .no-print {
    display: none;
  }
}